body {
	font-family: "Helvetica", sans-serif;
	text-align: center;
}

.backgroundImage,
#contactHeadingStyle {	
	background-image: url("building.png");
}

#heading {
	font-size: 70px;
	}

#heading,
.navLinks,
#contactHeadingStyle,
#copyright {
	color: white;
}

.navLinks {
	font-size: 18px;
}

#articleHeader {
	font-size: 32px;	
}

#articleHeader,
#heading,
.subheading {
	font-weight: bold;
}

.subheading {
	font-size: 23px;
}

.sectionDescription {
	font-size: 14px;
}

footer {
	text-align: left;
	background-color: dimgray;
}

#copyright {
	font-size: 11px;
}
