body {
	font-family: "Helvetica", sans-serif;
	text-align: center;
}

header {	
	background-image: url("building.png");
}

#heading {
	font-size: 70px;
	}

#heading,
.navLinks {
	color: white;
}

.navLinks {
	font-size: 18px;
}

#articleHeader {
	font-size: 32px;	
}

#articleHeader,
#heading,
.subheading {
	font-weight: bold;
}

.subheading {
	font-size: 23px;
}

.sectionDescription {
	font-size: 14px;
}
